:host {
    background: #e3e3e3;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    .tabs {
        position: absolute;
        display: flex;
        height: 30px;
        width: 100%;
        .tab {
            background: #0f7cb2;
            margin-right: 10px;
            padding: 6px 15px;
            border-radius: 5px 5px 0px 0px;
            color: #fff;
            cursor: pointer;
            &--active {
                position: relative;
                background: #fff;
                color: #000;
                border: 1px solid;
                border-bottom: 1px solid #fff;
            }
        }
    }
}

.sections {
    position: relative;
    margin-top: 30px;
    width: 100%;
    .contain {
        display: none;
        &--active {
            display: flex;
            border: 1px solid;
            border-radius: 0px 0px 5px 5px;
        }
        &__column {
            padding: 10px;
            .header {
                padding-bottom: 20px;
                &__name {
                    h1 {
                        margin: 0px;
                    }
                }
            }
            .body {
                display: flex;
                flex-direction: column;
                &__line {
                    display: flex;
                    padding: 5px 0;
                    .title {
                        min-width: 200px;
                    }
                }
            }
        }
        &__button {
            padding: 5px;
            font-size: 14px;
            background: orange;
            text-align: center;
            color: #fff;
            margin-top: 5px;
            border-radius: 5px;
        }
        &__img {
            img {
                border-radius: 5px;
            }
        }
    }
}