<section class="contain" data-id="profile">
    <div class="contain__column">
        <div class="contain__img">
            <img src="{{profile.img}}" alt="gora">
        </div>
        <div class="contain__button">
            Добавить в друзья
        </div>
    </div>
    <div class="contain__column" (click)="clickWrite($event)">
        <div class="header">
            <div class="header__name changed">
                <h1 *ngIf="!write">{{profile.name}}</h1>
                <input *ngIf="write" [(ngModel)]="profile.name" name="name" type="text" value="{{profile.name}}">
            </div>
            <div class="header__city">
                <span>{{profile.city}}</span>
            </div>
        </div>
        <div class="body">
            <div class="body__line">
                <div class="title">
                    <b>Семейное положение</b>
                </div>
                <div class="text">холост</div>
            </div>
            <div class="body__line">
                <div class="title">
                    <b>Телефон</b>
                </div>
                <div class="text changed">
                    <div *ngIf="!write">{{profile.phone}}</div>
                    <input *ngIf="write" [(ngModel)]="profile.phone" name="phone" type="text" value="{{profile.phone}}">
                </div>
            </div>
            <div class="body__line">
                <div class="title">
                    <b>E-mail</b>
                </div>
                <div class="text changed">
                    <div *ngIf="!write">{{profile.email}}</div>
                    <input *ngIf="write" [(ngModel)]="profile.email" name="email" type="text" value="{{profile.email}}">
                </div>
            </div>
        </div>
        <div class="interest" (click)="clickDeleteInterest($event)">
            <div class="title">
                <b>Интересы</b>
            </div>
            <div class="interest__list">
                <div *ngFor="let interest of interests" attr.data-id="{{interest.id}}" class="interest__block">
                    {{interest.name}}
                </div>
                <div [ngClass]="visibleAddInterface ? 'interest__add--hide' : 'interest__add--show'" class="interest__add" (click)="clickAddInterest()"></div>
            </div>
        </div>
        <app-add-interest *ngIf="visibleAddInterface"></app-add-interest>
    </div>
</section>