.contain {
    display: flex;
    border: 1px solid;
    border-radius: 0px 5px 5px 5px;
    @media screen and (max-width: 500px) {
        flex-direction: column;
    }
    &__column {
        padding: 10px;
        .header {
            padding-bottom: 20px;
            &__name {
                h1 {
                    margin: 5px 0px;
                    cursor: pointer;
                }
                input {
                    font-size: 1.5em;
                    min-height: 21px;
                    margin: 5px 0px;
                }
            }
        }
        .body {
            display: flex;
            flex-direction: column;
            &__line {
                display: flex;
                padding: 5px 0;
                width: 100%;
                min-height: 21px;
                .title {
                    min-width: 160px;
                    cursor: pointer;
                }
                .text {
                    width: 100%;
                    cursor: pointer;
                }
            }
        }
        .interest {
            padding-top: 20px;
            &__list {
                display: flex;
            }
            &__block {
                padding: 5px 10px;
                border: 1px solid #bdbcbc;
                border-radius: 5px;
                margin: 5px 5px 0 0;
                cursor: pointer;
                &:hover {
                    background: #f3f3f3;
                }
            }
        }
    }
    &__button {
        padding: 10px 5px;
        font-size: 12px;
        background: linear-gradient(#e78101 20%, #e35700);
        text-align: center;
        color: #fff;
        margin-top: 5px;
        border-radius: 5px;
        cursor: pointer;
    }
    &__img {
        @media screen and (max-width: 500px) {
            text-align: center;
        }
        img {
            border-radius: 5px;
        }
    }
}