<section class="contain" data-id="profile">
    <div class="contain__column">
        <div class="contain__img">
            <img src="/assets/image/gora.jpg" alt="gora">
        </div>
        <div class="contain__button">
            Добавить в друзья
        </div>
    </div>
    <div class="contain__column">
        <div class="header">
            <div class="header__name">
                <h1>Виталя Гора</h1>
            </div>
            <div class="header__city">
                <span>г. Нижние Шахты</span>
            </div>
        </div>
        <div class="body">
            <div class="body__line">
                <div class="title">
                    <b>Семейное положение</b>
                </div>
                <div class="text">холост</div>
            </div>
            <div class="body__line">
                <div class="title">
                    <b>Телефон</b>
                </div>
                <div class="text">+7 (440) 554-32-12</div>
            </div>
            <div class="body__line">
                <div class="title">
                    <b>E-mail</b>
                </div>
                <div class="text">vitalya@gora.ru</div>
            </div>
        </div>
        <div class="interest">
            <div class="title">
                <b>Интересы</b>
            </div>
            <div class="interest__list">
                <div *ngFor="let interest of interests" class="interest__block">
                    {{interest.name}}
                </div>
            </div>
        </div>

    </div>
</section>